<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/slider.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/apicall.js"></script>
  <script type="text/javascript" src="javascripts/getmanagerwebdata.js"></script>
</head>

<body>
  <%- include('partials/managernavigation') -%>

  <div class="container p-3 my-3">

    <table class="table table-hover" id="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>online</th>
          <th>blackout</th>
          <th>blocked</th>
          <th>visit</th>
          <th>block</th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        <script>
          gethandleuserdata();
          getmanageruserblocked()
          timeout = 1000;
          setInterval(() => {
            getmanageruserblocked();
            updatehandleuserdata();
          }, timeout);
        </script>
      </tbody>
    </table>
  </div>
</body>

</html>