<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/slider.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
    rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>

<body>
  <%- include('partials/managernavigation') -%>
</body>
<div class="container p-3 my-3 bg-dark text-white">
  <div class="row">
    <div class="col-sm-2">
      <picture>
        <img id="image" src="" alt="your house" width=150px;>
      </picture>
    </div>
    </form>
    <div class="col-sm-2">
      <h5>username</h5>
      <p id="username"></p>
    </div>
    <div class="col-sm-2">
      <h5>First name</h5>
      <p id="firstname"></p>
    </div>
    <div class="col-sm-2">
      <h5>Last name</h5>
      <p id="lastname"></p>
    </div>
  </div>
</div>



<div class="container p-3 my-3 bg-dark text-white">

  <div class="row">
    <div class="col-sm-3">
      <h4> Current Production</h4>
      <p id="production"> </p>
    </div>
    <div class="col-sm-3">
      <h4> Current NetProduction on grid</h4>
      <p id="netgridproduction"> </p>
    </div>
    <div class="col-sm-3">
      <h4>Current buffer amount</h4>
      <p id=buffer></p>
    </div>
    <div class="col-sm-3">
      <h4>Current electricity Price</h4>
      <p id=electricityprice></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4>Buffer vs Grid </h4>
      <form class="form-horizontal" role="form" method="post" action="/managerhome" onSubmit="return checkblank(this);">
        <div class="slidecontainer">
          <input type="range" min="0" max="100" value="50" id="slider" name="slider"
            onchange='document.getElementById("slidertext").value = "Slider Value = " + document.getElementById("slider").value;' />
          <!-- <input type="text" name="slidertext" id="slidertext" value="Slider Value = 1" disabled /> -->
        </div>
        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Submit
          Percentage</button>
      </form>
    </div>
    <div class="col-sm-3">
      <h4 id="toggle"> Toggle between manual and simulation price </h4>
      <form id="form-id" class="form-horizontal" role="form" method="post" action="/managerhome/toggle"
        onSubmit="return checkblank(this);">
        <div class="radio">
          <label><input type="radio" value="0" name="optradio">Manual input(freezes price sim)</label>
        </div>
        <div class="radio">
          <label><input type="radio" value="1" name="optradio">Simulating prices </label>
        </div>
        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Toggle</button>
      </form>
    </div>
    <div class="col-sm-3">
      <h4>Manual price </h4>
      <form class="form-horizontal" role="form" method="post" action="/managerhome/price"
        onSubmit="return checkblank(this);">
        <input type="number" name="elprinput" id="elprinput" min="0" value="0" />
        <button id="btn-price" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Submit
          Price</button>
      </form>
    </div>
    <div class="col-sm-3">
      <h4 id="header"> Buffer level 70%</h4>
      <div class="progress">
        <div class="progress-bar bg-secondary" value='70' style="width:70%" id="prog"> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4 id="toggle"> Turn on or off powerplant </h4>
      <form id="form-id" class="form-horizontal" role="form" method="post" action="/managerhome/onoroff"
        onSubmit="return checkblank(this);">
        <label><input type="radio" value="1" name="optradio">ON</label>
        <label><input type="radio" value="0" name="optradio">OFF </label>
        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp ON or
          OFF</button>
      </form>
    </div>
    <div class = "col-sm-3">
      <h4>Powerplant State</h4>
      <p id="currState"></p>
    </div>
  </div>
</div>

<script>
  var slider = document.getElementById("myRange");
</script>
<script type="text/javascript" src="javascripts/apicall.js"></script>
<script type="text/javascript" src="javascripts/getmanagerpagewebdata.js"></script>
<script>
  getalluserdata();
</script>
<script>
  var image = document.getElementById("image");
  var imgurl = '<%= imageurl %>';
  image.src = imgurl;

  getmanagerpowerplantdata();
  getelectricityprice();
  getownerdata();
  setSliderManager();
  setPowerplantState();
  timeout = 5001;
  setInterval(() => {
    //console.log("Inside Interval");
    getmanagerpowerplantdata();
    getelectricityprice();
    setPowerplantState();
  }, timeout);
</script>



</body>

</html>