<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/slider.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!--<script type="text/javascript" src="javascripts/apicall.js"></script> -->
  <script type="text/javascript" src="javascripts/getuserprofiledata.js"></script>
  <script type="text/javascript" src="../javascripts/apicall.js"></script>
  <script type="text/javascript" src="javascripts/webdata.js"></script>
  <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

<body>
  <%- include('partials/managernavigation') -%>

  <div class="container p*3 my-3 bg-dark text-white">
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="exampleFormControlFile1">Image upload</label>
          <form class="form-horizontal" role="form" action="/profile" method="post" enctype="multipart/form-data">
            <input type="file" class="form-control-file" name="manager_profile" accept="" />
            <button type="submit" class="btn btn-primary">Upload</button>
          </form>
        </div>
        <form role="form" action="/updatecredentials" method="get">
          <h6>Change password</h6>
          <button type="submit" class="btn btn-primary">Update credentials</button>
        </form>
      </div>
      <div class="col-sm-3">
        <h6 style="text-align:center">Profile picture</h6>
        <picture>
          <img id="image" src="" alt="" width=150px; class="center">
        </picture>
      </div>
      <div class="col-sm-3">
        <h6>Firstname</h6>
        <p id="firstname"></p>
      </div>
      <div class="col-sm-3">
        <h6>Lastname</h6>
        <p id="lastname"></p>
      </div>
    </div>
  </div>
  </div>
  <div class="container p-3 my-3">
    <table class="table table-hover" id="profiletable">
      <!--    <tr style="border-bottom: 1px solid black">  -->
      <th>Username</th>
      <th>User ID</th>
      <th></th>
      <!--       </tr> -->
      <tbody>

      </tbody>
      <script>
        getalluserdata();
      </script>
    </table>
  </div>

  <script>
    var image = document.getElementById("image");
    var imgurl = '<%= imageurl %>';
    image.src = imgurl;
    getownerdata();
  </script>

</body>

</html>